
  .jslider .jslider-bg i,
  .jslider .jslider-pointer { background: url('../images/central/jslider.png') no-repeat 0 0; }

  .jslider { display: inline-block; width: 270px; height: 1em; position: relative; top: 0.6em; font-family: Arial, sans-serif; }
  .jslider table { width: 100%; border-collapse: collapse; border: 0; }
  .jslider td, .jslider th { padding: 0; vertical-align: top; text-align: left; border: 0; }

  .jslider table,
  .jslider table tr,
  .jslider table tr td { width: 100%; vertical-align: top; }

  .jslider .jslider-bg { position: relative; }
  .jslider .jslider-bg i { height: 8px; position: absolute; font-size: 0; top: 0; }
  .jslider .jslider-bg .l { width: 50%; background-position: 0 0; left: 0; }
  .jslider .jslider-bg .r { width: 50%; left: 50%; background-position: right 0; }
  .jslider .jslider-bg .v { position: absolute; width: 60%; left: 20%; top: 0; height: 8px; background-position: 0 -20px; }

  .jslider .jslider-pointer { width: 21px; height: 28px; background-position: 0 -32px; position: absolute; left: 20%; top: -13px; margin-left: -6px; cursor: pointer; cursor: hand; }
  .jslider .jslider-pointer-hover { background-position: -26px -32px; }
  .jslider .jslider-pointer-to { left: 80%; }

  .jslider .jslider-label { font-size: 14px; line-height: 12px; color: black; opacity: 0.4; white-space: nowrap; padding: 0px 2px; position: absolute; top: -30px; left: 0px; }
  .jslider .jslider-label-to { left: auto; right: 0; }
.jslider .jslider-label-to span, .jslider .jslider-label span { color:#252525; font-size:14px; }
  .jslider .jslider-value { font-size: 14px; white-space: nowrap; padding: 0px 4px 1px 4px; position: absolute; top: -35px; left: 20%; background: white; -moz-border-radius: 2px; -webkit-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; }
  .jslider .jslider-value-to { left: 80%; }

  .jslider-value span, .jslider .jslider-value span { font-size:14px;color:#000; }
  .jslider .jslider-label small,
  .jslider .jslider-value small { position: relative; top: -0.4em; }

  .jslider .jslider-scale { position: relative; top: 9px; }
  .jslider .jslider-scale span { position: absolute; height: 5px; border-left: 1px solid #999; font-size: 0; }
  .jslider .jslider-scale ins { font-size: 9px; text-decoration: none; position: absolute; left: 0px; top: 5px; color: #999; }

  .jslider-single .jslider-pointer-to,
  .jslider-single .jslider-value-to,
  .jslider-single .jslider-bg .v,
  .jslider-limitless .jslider-label { display: none; }


  .new-central-top-field .jslider {width:188px; height:5px; top:9px; vertical-align:top; margin-left:4px}
  .new-central-top-field .jslider .jslider-bg {width:186px; height:3px; border:1px solid #b4b4b4; background:#fff; border-radius:2px}
  .new-central-top-field .jslider .jslider-bg i {display:none}
  .new-central-top-field .jslider .jslider-pointer {width:13px; height:21px; top:-9px; margin-left:-6px; background:url(../images/central/new-central-top-jslider-pointer.png)}
  .new-central-top-field .jslider .jslider-value {font:10px/12px v31r, sans-serif; top:-23px; color:#000; background:none; opacity:.7; padding:0}
  .new-central-top-field .jslider .jslider-value span {font-size:10px}